.containor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.header-left {
    display: flex;
    margin: 0px 20px;
}

.icon{
    margin-left: 10px;
    cursor: pointer;
}


.header-center{
    display: flex;
    width: 50%;
    
}

.search:focus{
    outline-color: blue;
    /* background-image: url('download.png'); */
}
.search::placeholder{
    padding-left: 5px;
}

.search{
    border-radius: 15px 0px 0px 15px ;
    display: flex;
    width: 88%;
    cursor: pointer;
    /* border-color: rgb(118, 118, 212); */
}

.s-icon{
    background-color: rgb(238, 236, 232);
    border: 1px solid black;
    width: 8%;
    border-radius: 0px 15px 15px 0px;
    padding: 0 5px;
}

.header-right{
    display: flex;
    margin: 10px;
}
