.left-nav{
    background-color: blueviolet;
    max-width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px 40px 5px 20px;
}

.left-nav div span {
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    border:1px solid red;
}

