.all-tab{
    display: flex;
}
.tab{
    margin: 5px;
    padding: 5px;
    background-color: rgb(236, 232, 232);
    border-radius: 7px;
    cursor: pointer;
}
.all{
    background-color: black;
    color: azure;
}

.tab:hover{
    background-color: grey;
}

.videos{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: auto auto auto;
}

.video {
    margin: 10px;
    /* width: 20%; */
    /* height: ; */
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.time{
    display: flex;
    justify-content: start;
    margin-left: 50px;
    align-items: center;
}